<link href="~/Content/sidebar.css" rel="stylesheet" />
<div class="sidebar">
    <div class="sidebar-box">
        <div class="sidebar-title">
            Gündem
        </div>
        <div class="box">
            <div>
                <div class="light-font">1 · Konu</div>
                <a>Edebiyat</a>
                <div class="light-font">144 gönderi</div>
            </div>

            <img class="kutu" src="~/hashtag.svg" alt="Alternate Text" />

        </div>
        <div class="box">
            <div>
                <div class="light-font">2 · Konu</div>
                <a>1000Kitap</a>
                <div class="light-font">696 gönderi</div>
            </div>
            <img class="kutu" src="~/hashtag.svg" alt="Alternate Text" />
        </div>
        <div class="box">
            <div>
                <div class="light-font">3 · Konu</div>
                <a>Şiir</a>
                <div class="light-font">578 gönderi</div>
            </div>
            <img class="kutu" src="~/hashtag.svg" alt="Alternate Text" />
        </div>
        <div class="box">
            <div>
                <div class="light-font">4 · Konu</div>
                <a>Roman</a>
                <div class="light-font">121 gönderi</div>
            </div>
            <img class="kutu" src="~/hashtag.svg" alt="Alternate Text" />
        </div>
        <div class="box">
            <div>
                <div class="light-font">5 · Konu</div>
                <a>Din</a>
                <div class="light-font">155 gönderi</div>
            </div>
            <img class="kutu" src="~/hashtag.svg" alt="Alternate Text" />
        </div>
        <div>
            <button class="detail-button">Daha fazla göster</button>
        </div>
    </div>
    <div class="sidebar-box">
        <div class="sidebar-title">
            Okur Takip Önerileri
        </div>
        <div class="profile-card">
            <img class="profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
            <div>
                <p class="profile-name">
                    <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                </p>
                <p class="profile-username">
                    <a href="/Home/Users/elifsaresari">@@elifsaresari</a>
                </p>
            </div>
            <button class="follow-button">TAKİP ET</button>
        </div>
        <div class="profile-card">
            <img class="profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
            <div>
                <p class="profile-name">
                    <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                </p>
                <p class="profile-username">
                    <a href="/Home/Users/elifsaresari">@@elifsaresari</a>
                </p>
            </div>
            <button class="follow-button">TAKİP ET</button>
        </div>
        <div class="profile-card">
            <img class="profile-photo" src="~/elifpp.jfif" alt="Alternate Text" />
            <div>
                <p class="profile-name">
                    <a href="/Home/Users/elifsaresari">Elif Sare SARI</a>
                </p>
                <p class="profile-username">
                    <a href="/Home/Users/elifsaresari">@@elifsaresari</a>
                </p>
            </div>
            <button class="follow-button">TAKİP ET</button>
        </div>
        <div>
            <button class="detail-button">Daha fazla göster</button>
        </div>
    </div>
    <div class="sidebar-box">
        <div class="sidebar-title">
            Ne Okusam?
        </div>
        <div class="kitap-box">
            <img class="kitap-photo" src="~/kürkmantolumadonna.jfif" alt="" />
            <div class="yazar-card">
                <div class="kitap-adi">Kürk Mantolu Madonna</div>
                <div class="yazar">
                    <img class="yazar-photo" src="~/sabahattin.jpg" alt="" />
                    <p>
                        Sabahattin Ali
                    </p>
                </div>
                <div class="point">
                    <i class="light-font fas fa-star"></i>
                    <div class="light-font">9.0/10 · 208,1 bin okuma </div>
                </div>
            </div>
        </div>
        <div class="kitap-box">
            <img class="kitap-photo" src="~/kürkmantolumadonna.jfif" alt="" />
            <div class="yazar-card">
                <div class="kitap-adi">Kürk Mantolu Madonna</div>
                <div class="yazar">
                    <img class="yazar-photo" src="~/sabahattin.jpg" alt="" />
                    <p>
                        Sabahattin Ali
                    </p>
                </div>
                <div class="point">
                    <i class="light-font fas fa-star"></i>
                    <div class="light-font">9.0/10 · 208,1 bin okuma </div>
                </div>
            </div>
        </div>
        <div class="kitap-box">
            <img class="kitap-photo" src="~/kürkmantolumadonna.jfif" alt="" />
            <div class="yazar-card">
                <div class="kitap-adi">Kürk Mantolu Madonna</div>
                <div class="yazar">
                    <img class="yazar-photo" src="~/sabahattin.jpg" alt="" />
                    <p>
                        Sabahattin Ali
                    </p>
                </div>
                <div class="point">
                    <i class="light-font fas fa-star"></i>
                    <div class="light-font">9.0/10 · 208,1 bin okuma </div>
                </div>
            </div>
        </div>

        <div>
            <button class="detail-button">Daha fazla göster</button>
        </div>
    </div>

    <div class="about">
        @Html.ActionLink("Kullanım Şartları", "kullanim_sartlari", "Hakkında")
        @Html.ActionLink("Gizlilik Politikası", "gizlilik_politikası", "Hakkında")
        @Html.ActionLink("Topluluk Kuralları", "topluluk_kuralları", "Hakkında")
        @Html.ActionLink("Hakkında", "Index", "Hakkında")
        @Html.ActionLink("Reklam Verin", "reklam_verin", "Hakkında")
        @Html.ActionLink("İletişim", "iletisim", "Hakkında")
        @Html.ActionLink("Dizinler", "dizinler", "Hakkında")
    </div>

    <div class="footer">
        <p>&copy;@DateTime.Now.Year   ·  1000Kitap Web Uygulaması   ·   2.18.52</p>
    </div>
</div>
